<!DOCTYPE html>

<!--
Now that we can see our template working, let's complete it.  The index
template will feature a form that our users will fill out to "subscribe"
to our site.  The information they input will be stored in our database.
This is where Thymeleaf will help, by storing their input as variables.
-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Blog Site</title>

    <div th:replace="/fragments/styling :: head-style" ></div>
</head>

<body>
    <div th:replace="fragments/navbar :: navbar" ></div>

    <div class="container">
        <h1>Welcome to Our Blog Post Site!</h1>
        <h3>Check out our blogs!</h3>
        <img src="../images/LogoTTs.jpg" alt="Tech Talent South Logo" class="center"/>

        <div class="row">
            <div th:each="blog:${posts}">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong><p th:text="${blog.title}"/></strong>
                        </div>

                        <div class="panel-body">
                            <p th:text="${blog.author}"/>
                            <p th:text="${blog.blogEntry}" />
                        </div>

                        <div class="panel-footer">
                            <!-- Link to Update -->
                            <div class="card-footer">
                                <a th:href="@{blogposts/{id}(id=${blog.id})}">
                                    <button class="btn btn-light">Edit Post</button>
                                </a>
                            <!-- Link to Show  -->
                            <!--  Link to Destroy -->
<!--                                <form action="#" th:action="@{'/blogposts/{id}'(id=${blog.id})}" th:method="delete"-->
<!--                                  class="form-horizontal">-->
<!--                                    <input type="hidden" name="_method" value="delete"/>-->
<!--                                    <button type="submit" class="btn btn-danger btn-block" th:text="Delete">Delete Post</button>-->
<!--                                </form>-->
                                <form th:action="@{'/blogposts/{id}'(id=${blog.id})}" th:method="delete"
                                      class="form-horizontal">
                                    <input type="hidden" name="_method" value="delete"/>
                                    <button type="submit" class="btn btn-danger" th:text="Delete">Delete Post</button>
<!--    **** I like the inline <a> offers above but form works and <a> doesn't. also check diff in form and anchor tags-->
                                </form>
                            </div>
                        </div>
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
        <!--had a submit button here-->
    </div>

    <div th:replace="/fragments/styling :: body-links" ></div>
</body>

</html>

<!--
This is the template our application will return when the user enters
our root url.  It is our application's "Home Page".
-->