<!DOCTYPE html>

<!--
Now that we can see our template working, let's complete it.  The index
template will feature a form that our users will fill out to "subscribe"
to our site.  The information they input will be stored in our database.
This is where Thymeleaf will help, by storing their input as variables.
-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Blog Site</title>
</head>

<body>
    <h1>Welcome to Our Blog Post Site!</h1>
    <h3>Check out our blogs!</h3>

    <!--
    In addition to the HTML tags, we have included the "th:"  attribute
    in the tags to make the connection between our database tables and
    the form.
    -->
    <p>Please use the form below to submit a Blog Post:</p>
    <form action="#" th:action="@{/}" th:object="${blogPost}" method="post">
        <table>
            <tr>
                <td>Title</td>
                <td><input type="text" th:field="*{title}" /></td>
            </tr>
            <tr>
                <td>Author:</td>
                <td><input type="text" th:field="*{author}" /></td>
            </tr>
            <tr>
                <td>Blog Entry:</td>
                <td><input type="text" th:field="*{blogEntry}" /></td>
            </tr>
            <tr>
                <td><button type="submit">Submit Your Post</button></td>
            </tr>
        </table>
    </form>
</body>

</html>

<!--
This is the template our application will return when the user enters
our root url.  It is our application's "Home Page".
-->