<!DOCTYPE html>

<!--
Now that we can see our template working, let's complete it.  The index
template will feature a form that our users will fill out to "subscribe"
to our site.  The information they input will be stored in our database.
This is where Thymeleaf will help, by storing their input as variables.
-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Blog Site</title>

<!--  CSS CDN  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="../css/standard.css" rel="stylesheet">
</head>

<body>
    <div class="container">

        <h1>Welcome to Our Blog Post Site!</h1>
        <h3>Check out our blogs!</h3>

        <div class="row">
            <div th:each="blog:${posts}">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p th:text="${blog.title}"/>
                        </div>
                        <div class="panel-body">
                            <strong><p th:text="${blog.author}"/></strong>
                            <p th:text="${blog.blogEntry}" />
                        </div>
                        <hr/>
                        <div class="panel-footer">
                            <!-- Link to Update -->
                            <!-- Link to Show  -->
                            <!--  Link to Destroy -->
                            Buttons
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a th:href="@{/blogposts/new}">
            <button class= "btn btn-primary">Submit a New Blog Post</button>
        </a>
    </div>

    <!--  Bootstrap JS Bundle  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
</body>

</html>

<!--
This is the template our application will return when the user enters
our root url.  It is our application's "Home Page".
-->