<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Create a New Blog</title>

    <div th:replace="/fragments/styling :: head-style" ></div>
</head>

<body>
    <!--
     In addition to the HTML tags, we have included the "th:"  attribute
     in the tags to make the connection between our database tables and
     the form.
     -->
    <div th:replace="fragments/navbar :: navbar" ></div>

    <div class="container">
        <h1>Create a New Blog Post</h1>
        <p>Please use the form below to submit a Blog Post:</p>

        <form action="#" th:action="@{/blogposts}" th:object="${blogPost}" method="post">
            <table>
                <tr>
                    <div class="form-group">
                    <td>Title</td>
                    <td><input type="text" class="form-control" placeholder="Blog Title..." th:field="*{title}" /></td>
                    </div>
                </tr>
                <tr>
                    <div class="form-group">
                    <td>Author:</td>
                    <td><input type="text" class="form-control" placeholder="Your Name Here..." th:field="*{author}" /></td>
                    </div>
                </tr>
                <tr>
                    <div class="form-group">
                    <td>Blog Entry:</td>
                    <td><input type="text" class="form-control" placeholder="Blog Entry..." th:field="*{blogEntry}" /></td>
                    </div>
                </tr>
                <tr>
                    <td><button class="btn btn-primary" type="submit">Submit Your Post</button></td>
<!--                    <td><a th:href="@{/}"><button class="btn btn-secondary">Cancel</button></a></td>-->
<!--                    <a th:href="@{/}"><button class="btn btn-success">Back To Home Page</button></a>-->
                    <!--   added may have to delete  or btn-success   -->
<!--                    <a th:href="@{/}"><button class= "btn btn-secondary">Back to Home Page</button></a>-->
                </tr>
            </table>
        </form>
        <td><a th:href="@{/}"><button class="btn btn-secondary">Cancel</button></a></td>

    </div>

<!--example buttons from other pages
    <form action="#" th:action="@{'/blogposts/{id}'(id=${blog.id})}" th:method="delete"
          class="form-horizontal">
        <div class="form-group">
            <input type="hidden" name="_method" value="delete"/>
            <button type="submit" class="btn btn-danger btn-block" th:text="Delete">Delete</button>
        </div>
    </form>
    <a th:href="@{/blogposts/new}"><button class= "btn btn-primary">Submit a New Blog Post</button></a>
-->


    <div th:replace="/fragments/styling :: body-links" ></div>

</body>

</html>