<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Blog Project</title>

    <div th:replace="/fragments/styling :: head-style" ></div>
</head>

<body>
    <div th:fragment="navbar">

        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <!-- Navbar content -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">TTS Project Blog</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/blogposts/new}">Create New Blog Post</a>
                            </li>
                        </ul>
                        <span class="navbar-text">
                            Thanks for sharing your thoughts and posts with our community
                            <form class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search Blogs</button>
                            </form>
                        </span>
                    </div>
                </div>
            </nav>

        </nav>


    </div>


    <div th:replace="/fragments/styling :: body-links" ></div>
</body>

</html>

